:root{
  --primary-color: #E0985D;
  --background-color1: #fff;
  --background-color2: #272D3A;
  --background-color3: #1d71d3;
  --text-color1: #333;
  --text-color2: #1d71d3;
  --text-color3: #fff;
  --text-color4: #888;
  --text-color5: #000;

  --header-height: 5.6rem;
}

.header__nav--item.active {
  border-bottom: 2px solid #0E528B;
}
.content__nav--product__item--name.active {
  color: var(--primary-color);
}
.content__slide--nav__item.active {
  border-bottom: 3px solid var(--text-color2);
}
.content__slide--picture__control--item.active {
  color: var(--primary-color);
}
span {color: var(--text-color2); cursor: pointer;}


.content__slide--nav__item a:visited {
  color: var(--text-color2);
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}