@media screen and (max-width: 1279px) {
  .header__right {
    display: none
  }
}
@media screen and (max-width: 1050px) {
  .header__logo {
    display:none;
  }
}


/* Mobile & Tablet */
@media (max-width : 1023px) {
  .scroll-top,.social,.regist_make-app,.header__left,.header__right {
    display:none;
  }
  .content {
    margin-top: 8rem;
  }
  .content__header--item {
    padding: 1rem 2rem;
    text-align:center;
  }
  .content__item1 {
    display:block;
  }
  .content__item1--left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .content__item1--left__img {
    margin: 0 auto;
  }
  .content__item1--right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__mb-tl {
    display: block;
  }
  .header {
    position:fixed;
    background-color: var(--background-color1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 100%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 100%);
  }
  .header__mb-tl__icon {
    position: absolute;
    right: 2rem;
    
  }
  .grid.wide {
    width: 100%;;
    margin: 0 auto;
  }
  .footer__detail {
    margin: 0;
  }
  .footer__address {
    margin: 3rem 0 0;
    padding: 0 0 9rem 0;
  }
  .nav1 {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
  .header__mb-tl1 {
    display: flex;
    height: 100%;
  }
  .header__mb-tl__nav--list {
    margin-top: 1rem;
  }
  .icon__mobile {
    display: block;
  }
  .chat__header--btn {
    display: none;
  }
}
/* Tablet */
@media (min-width : 740px ) and (max-width : 1023px) {
  .footer {
    width: 100%;
  }
  .content__export {
    width: 20%;
  }
  .footer__detail--item {
    padding: 0 3rem;
    margin: 0;
  }
  .footer__address--item {
    margin: 0;
    padding: 0 0.5rem;
  }
  .heading {
    width: 35%;
  }
  .header__mt-tl__phonenumber {
    font-size:3rem;
    font-weight: 600;
    margin-right: 38%;
  }
  .content__cost-estimates,
  .content__installment {
    /* width: 100%;
    display: block;
    margin: 0 auto;  */
    padding: 1rem 1rem 0;
    flex-wrap: wrap;
    /* justify-content:center; */
  }
  .content__procedure {
    padding: 0 1rem;
  }
  .content__right , .content__left {
    padding: 0.5rem;
  }
  /* .content__cost-estimates {
    padding-top: 1rem;
  } */
  .content__item select {
    /* padding-top: 2rem; */
  }
}

/* Mobile */
@media (max-width : 739px) {
  .footer {
    width: 100%;
  }
  .content__export {
    width: 50%;
  }
  .footer__detail--item,.footer__address--item {
    /* width: 25%; */
    padding: 0 2rem;
    margin: 0;
  }
  .footer__detail--item__heading {
    margin-top: 2rem;
  }
  .heading {
    width: 65%;
  }
  .title {
    padding: 8rem 1.5rem 0;
    line-height:1.4;
  }
  .desc {
    padding: 0 1.5rem;
  }
  .header__mt-tl__phonenumber {
    font-size:2rem;
    font-weight: 600;
    margin-right: 35%;
  }
  .chat {
    width: 25rem;
  }
  .content__item2--detail {
    flex-wrap: wrap;
  }
  .content__cost-estimates,
  .content__installment,
  .content__procedure {
    /* display: block; */
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .content__right {
    padding: 0;
  }
  .content__item ,.content__right{
    margin-top: 2rem;
  }
  .content__item--name {
    font-size:1.2rem;
  }
  .content__item1--right__btn {
    font-size:1.3rem;
  }
  .content__submit {
    width: 40%;
  }
  .content__right--item p{
    font-size:1.2rem;
  }
  .content__item2--detail__name  {
    font-size:1.6rem;margin-bottom: 1rem;
  }
  .content__item2 {
    padding: 0 1rem;
  }
  .content__header--item.active {
    background-color: var(--primary-color);
    color: var(--text-color3);
  }
}