.wrapper {
  position: relative;
}
.nav1 {
  position: fixed;
  background-color: var(--background-color1);
  z-index: 10;
  top: 0;
  width: 97rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.social {
  position: fixed;
  top: 60%;
  left: 2rem;
  background-color: var(--background-color1);
  width: 5rem;
  height: 12rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 100%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 100%);
  z-index: 999;
}
.social__item {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  margin: 1.3rem 0.5rem;
  cursor: pointer;
  transition: 0.4s ease;
}
.social__item:hover {
  transform: scale(1.3);
}
.phone {
  position: fixed;
  top: 90%;
  left: 3rem;
  width: 20rem;
  height: 5rem;
  border-radius: 5rem;
  background-color:red;
  display: flex;
  z-index:999;
  cursor: pointer;
}
.phone__icon:hover {
  /* -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg); */
  transform: rotate(-25deg);
}
.phone__icon {
  animation: 3s ease-in-out 0s normal none infinite running z;
}
.phone__icon i{
  font-size:2rem;
  color: var(--text-color3);
  /* border: 1px solid #fff; */
  border-radius: 50%;
  /* background-color: var(--text-color3); */
  width: 4rem;
  height: 4rem;
  line-height:4rem;
  text-align:center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.phone__icon i:hover {
  background-color: green;
}
.phone__number span{
  color: var(--text-color3);
  height: 5rem;
  line-height:5rem;
  font-size:2rem;
  font-weight: 600;
  margin-left: -3rem;
  width: 70%;
}
.regist_make-app {
  margin: 10px;
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 999;
  width: 15%;
  font-weight: 100;
}
.make-app,
.regist {
  transition: transform .2s;
  height: 40px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #ff4d4d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: 600;
}
.make-app__link,
.regist__link {
  color: var(--text-color3);
}
.make-app__link:hover,
.regist__link:hover {
  color: #333;
}
.scroll-top {
  display: inline;
  width: 8rem;
  height: 8rem;
  position: fixed;
  bottom: 10rem;
  right: 10%;
  cursor: pointer;
  stop-opacity: 0;
  z-index: 10;
  opacity: 0.8;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
  border-radius: 0.5rem;
}
.scroll-top__title {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color3);
}
.scroll-top__icon i {
  font-size: 5rem;
  color: var(--text-color3);
}
.chat {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: 30rem;
  /* height: 32rem; */
  background-color: var(--background-color3);
  z-index: 999;
}
.chat__header {
  padding: 1rem 2rem;
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.icon__mobile {
  display: none;
  color: var(--text-color3);
}
.chat__header--title {
  color: var(--text-color3);
  font-weight: 600;
}
.chat__header--btn {
  color: var(--text-color3);

}
.chat__body {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-color1);
  display: none;
}
.chat__body--input {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
/* .chat__body--input:last-child {
  height: 5rem;
} */
.chat__body--btn {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--background-color3);
  padding: 1rem 2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* CSS Header */
.header {
  width: 95%;
  height: var(--header-height);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__logo {
  width: 20rem;
  height: 2.75rem;
  margin: auto 1.8rem auto 0;
}
.header__nav {
  display: flex;
  width: 100%;
  /* overflow: hidden; */
}
.header__nav--item {
  height:var(--header-height);
  line-height: var(--header-height);
  padding: 0 1.8rem;
  position: relative;
  color: var(--text-color1);
}
.header__nav--item:hover .header__nav--item__subnav {
  display: block;
}
.header__nav--link {
  color: var(--text-color);
  font-weight: 700;
}
.header__nav--item__subnav {
  position:absolute;
  left: 0;
  top: calc(var(--header-height) - 2px);
  box-shadow: 0 1px 2px #c0c0c0 ;
  display:none;
  border-top: 2px solid #0E528B;
  z-index: 999;
  background-color:#fff;
}
.header__nav--item__subnav::before {
  border: 2px solid;
  border-color: #0E528B transparent transparent #0E528B;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  height: 15px;
  width: 15px;
  left: 50px;
  pointer-events: none;
  position: absolute;
  margin-left: -6px;
  background-color: #ffffff;
  top: -8px;
}
.header__nav--item__subnav--item {
  border-bottom: 1px solid #C0C8C9;
  border-left: 1px solid #C0C8C9;
  border-right: 1px solid #C0C8C9;
  padding: 0 1.8rem;
  width: 20rem;
  height: 4.8rem;
  font-weight: 600;
  line-height: 4.8rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.header__nav--item__subnav--item:hover {
  background-color: var(--primary-color);
  color: var(--text-color3);
}
.header__nav--item__subnav--item:first-child:hover::before{
  border: 2px solid;
  border-color: #0E528B transparent transparent #0E528B;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  height: 15px;
  width: 15px;
  left: 21px;
  pointer-events: none;
  position: absolute;
  margin-left: 23px;
  top: -7px;
  background: #E0985D;
}
.header__right {
  width: 20rem;
  height: 2.75rem;
  margin: auto 0;
}
/* CSS Header Mobile Tablet */
.header__mb-tl {
  /* display:none; */
  height: 100%;
}
.header__mb-tl1 {
  display:none;
  cursor: pointer;
  justify-content: space-between;
}
/* .header__mt-tl__phonenumber {
  height: var(--header-height);
  line-height: var(--header-height);
  font-size:3rem;
  font-weight: 600;
  margin-right: 38%;
} */
.header__mb-tl__icon {

}
.header__mb-tl__icon {
  /* position: fixed; */
  height: var(--header-height);
  line-height: var(--header-height);
  font-size: 3rem;
  /* display:flex; */
  /* display: none; */
  /* justify-content:flex-end; */
}
.header__mb-tl__nav--list {
  background-color: var(--background-color1);
  /* position: relative; */
  z-index: 999;
  display: none;
  margin-top: var(--header-height);
  /* height: 1000%; */
}
.header__mb-tl__nav--item {
  /* height: 4rem;
  line-height:4rem; */
  /* position: absolute; */
  height: 100%;
}
.header__mb-tl__nav--item__name {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  border-bottom: 1px solid #ccc;
}
.header__mb-tl__nav--item__name p {
  font-size:2rem;
  font-weight: 600;
  height: 4rem;
  line-height:4rem;
}
.header__mb-tl__nav--item__name i{
  font-size:2rem;
  padding-right: 2rem;
}
.header__mb-tl__nav--item__subnav {
  margin:0rem 3rem;
  width: 100%;
  display: none;
}
.header__mb-tl__nav--item__subnav--item {
  cursor: pointer;
  height: 2.6rem;
  line-height:2.6rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.header__mb-tl__logo {
  width: 35%;
}
.show {
  display:block;

}
/* End CSS Header Mobile Tablet */
/* End CSS Header */

/* CSS Content */
/* End Content */


/* CSS Container */
.container {

}
.container__img {
  background: url(http://webdemo.netdeal.vn:12071/Images/bg-regis.jpg);
  width: 100%;
  height: 9.6rem;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.container__register {
  position: absolute;
  width: 100%;
  height: 9.6rem;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container__register--title {
  margin: auto 0;
  margin-right: 1rem;
  font-weight: 600;
  color: var(--text-color1);
}
.container__register--input {
  width: 35%;
  margin: 0 1rem;
}
.container__register--btn {
  padding: 1rem 1.2rem 0.6rem;
  background-color: var(--background-color3);
  color: var(--text-color3);
  font-weight: 600;
  cursor: pointer;
}
/* End CSS Container */

/* CSS Footer */
.footer {
  width: 100%;
  background-color: var(--background-color2);
  padding: 4.5rem 0 0;
}
.footer__detail {
  margin: 0 9rem;
  display: flex;
  flex-wrap: wrap;
}
.footer__detail--item {
  width: 25%;
  margin: 0 1.5rem;
}
.footer__detail--item__image {
  width: 31.2rem;
  height: 8.2rem;
}
.footer__detail--item__desc {
  color: var(--text-color3);
  font-weight: 500;
  margin-bottom: 2rem;
  line-height:1.2;
  text-align: justify;
  opacity: 0.9;
}
.footer__detail--item__heading {
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
  color: var(--text-color3);
}
.footer__detail--item__bottom {
  margin-top: 2rem;
}
.footer__detail--item__img {
  width: 9.4rem;
  height: 5.5rem;
}
.footer__detail--item__post {
  display: flex;
  margin-top: 1rem;
}
.footer__detail--item__post--img {
  width: 9.4rem;
  height: 5.5rem;
}
.footer__detail--item__post--desc {
  margin-left: 1rem;
}
.footer__detail__post--title {
  color: var(--text-color3);
  opacity: 0.9;
  font-size:1.4rem;
  line-height:1.4;
}
.footer__detail--item__post--time {
  color: var(--text-color3);
  margin-top: 0.6rem;
  opacity: 0.9;
  font-size:1.2rem;
}
.footer__address {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 9rem 6rem;
  border-bottom: 1px solid #fff;
}
.footer__address--item {
  /* width: 33.33333%; */
  display: flex;
  margin: 0 1.5rem;
  height: 5rem;
  line-height:5rem;
}
.footer__address--item__icon > i {
  color: var(--text-color3);
  font-size:3rem;
  margin-right: 1.5rem;
}
.footer__address--item__info {
  color: var(--text-color3);
  line-height: 1.4;
  margin: auto 0;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer__address--item:last-child .footer__address--item__info {
  height: 5rem;
  line-height:5rem;
}
.footer__address--item .footer__address--item__icon > i {
  height: 5rem;
  line-height:5rem;
}
.footer__copyright {
  height: 6rem;
  line-height:6rem;
  font-weight: 700;
  text-align:center;
  color: var(--text-color3);
  font-size: 1.6rem;
}
/* End CSS Footer */
